In [20]:
import numpy as np
import pandas as pd

# Dataframes
- Pandas allows you to create Dataframes from CSVs, matrices, tables, arrays, etc.
- Dataframes allow you to access, represent, and manipulate data
- the cell below creates a new dataframe from a sample CSV and prints the columns then the head, or the first five rows
- documentation:
    - https://pandas.pydata.org/docs/reference/frame.html

In [39]:
df = pd.read_csv("sample.csv")
df.name = 'sample.csv'
print(df.columns)
print("")
print(df)

Index(['First', 'Last', 'Street Address', 'City', 'State', 'ZIP'], dtype='object')

     First      Last                    Street Address         City State  \
0     John       Doe                 120 jefferson st.    Riverside    NJ
1     Jack  McGinnis                      220 hobo Av.        Phila    PA
2     John    Repici                 120 Jefferson St.    Riverside    NJ
3  Stephen     Tyler  7452 Terrace "At the Plaza" road     SomeTown    SD
4   George  Blankman                    123 Four Drive     SomeTown    SD
5     Joan       Jet               9th, at Terrace plc  Desert City    CO

     ZIP
0  93235
1  33489
2  94853
3  89353
4  23959
5  98753

In [40]:
df.dtypes

First             object
Last              object
Street Address    object
City              object
State             object
ZIP                int64
dtype: object

### Accessing Individual Columns

In [41]:
df['First']

0       John
1       Jack
2       John
3    Stephen
4     George
5       Joan
Name: First, dtype: object

In [42]:
df['Last']

0         Doe
1    McGinnis
2      Repici
3       Tyler
4    Blankman
5         Jet
Name: Last, dtype: object

### Iterating Through Columns:

In [43]:
for i in df.columns:
    print(i)

First
Last
Street Address
City
State
ZIP

### Iterating Through Entire Dataframe

In [24]:
for i in df.columns:
    for cell in df[i]:
        print(cell)

John
Jack
John
Stephen
George
Joan
Doe
McGinnis
Repici
Tyler
Blankman
Jet
120 jefferson st.
220 hobo Av.
120 Jefferson St.
7452 Terrace "At the Plaza" road
123 Four Drive
9th, at Terrace plc
Riverside
Phila
Riverside
SomeTown
SomeTown
Desert City
NJ
PA
NJ
SD
SD
CO
93235
33489
94853
89353
23959
98753

In [47]:
for i in df.columns:
    for cell in df[i]:
        if type(cell) == int: # filter values by data type
            print(cell)

93235
33489
94853
89353
23959
98753

### Detecting Datatypes

In [62]:
def get_max_percentage(type_count):
    counts = []
    d_type = None
    for key in type_count:
        counts.append(type_count[key])
    total = sum(counts)
    max_count = max(counts)
    for key in type_count:
        if type_count[key] == max_count:
            d_type = key
            break
    return (d_type, max_count / total * 100)

In [65]:
confidential = ["SSN", "ID", "Hash", "Street"]

for i in df.columns:
    type_count = {
        "int": 0,
        "float": 0,
        "string": 0,
        "boolean": 0,
        "other": 0
    }
    is_confidential = False
    max_percentage = 0
    for cell in df[i]:
        for j in confidential:
            if j in i:
                is_confidential = True
                break
        if type(cell) == int: # filter values by data type
            type_count["int"] += 1
        elif type(cell) == float:
            type_count["float"] += 1
        elif type(cell) == str:
            type_count["string"] += 1
        elif type(cell) == bool:
            type_count["boolean"] += 1
        else:
            type_count["other"] += 1
    temp = get_max_percentage(type_count)
    print("Column Name: {}".format(i))
    print("Is confidential? {}".format(is_confidential))
    print("{}".format(type_count))
    print("Max Data type: {} {}%\n".format(temp[0], temp[1]))

Column Name: First
Is confidential? False
{'int': 0, 'float': 0, 'string': 6, 'boolean': 0, 'other': 0}
Max Data type: string 100.0%

Column Name: Last
Is confidential? False
{'int': 0, 'float': 0, 'string': 6, 'boolean': 0, 'other': 0}
Max Data type: string 100.0%

Column Name: Street Address
Is confidential? True
{'int': 0, 'float': 0, 'string': 6, 'boolean': 0, 'other': 0}
Max Data type: string 100.0%

Column Name: City
Is confidential? False
{'int': 0, 'float': 0, 'string': 6, 'boolean': 0, 'other': 0}
Max Data type: string 100.0%

Column Name: State
Is confidential? False
{'int': 0, 'float': 0, 'string': 6, 'boolean': 0, 'other': 0}
Max Data type: string 100.0%

Column Name: ZIP
Is confidential? False
{'int': 6, 'float': 0, 'string': 0, 'boolean': 0, 'other': 0}
Max Data type: int 100.0%

### Detecting Confidential Info

In [45]:
def contains_confidential(dataframes, confidential):
    for i in dataframes:
        for j in i.columns:
            for k in confidential:
                if k in j:
                    print("Column \"{}\" in dataframe \"{}\" contains confidential info".format(j, i.name))

In [46]:
dfs = [df]
confidential = ["SSN", "ID", "Hash", "Street"]
contains_confidential(dfs, confidential)

Column "Street Address" in dataframe "sample.csv" contains confidential info